<%- include('partials/header') %>


<div class="form-container">

    <h1>Edit your book</h1>
    <p><a href="/" class="cancel-link">Back</a></p>

    <form action="/edit" method="POST" class="entry-form">
        <input type="hidden" name="id" value="<%= books.id %>">

        <div class="form-group">
            <label for="title">Book Title:</label><br>
            <input type="text" id="title" name="title" value="<%= books.title %>" required>
        </div>
        <br>
        <div class="form-group">
            <label for="author">Author:</label><br>
            <input type="text" id="author" name="author" value="<%= books.author %>" required>
        </div>
        <br>
        <div class="form-group">
            <label for="rating">Rating:</label><br>
            <input type="number" id="rating" name="rating" min="1" max="10" value="<%= books.rating %>" required>
        </div>
        <br>
        <div class="form-group">
            <label for="date_read">Date Finished:</label><br>
            <input type="date" id="date_read" name="date_read" value="<%= books.date_read ? new Date(books.date_read).toISOString().split('T')[0] : '' %>" required>
        </div>
        <br>
        <div class="form-group">
            <label for="isbn">ISBN Number:</label><br>
            <input type="text" id="isbn" name="isbn" maxlength="13" value="<%= books.isbn %>" >
        </div>
        <br>
        <div class="form-group">
            <label for="notes">Your Notes & Impressions:</label><br>
            <textarea id="notes" name="notes" rows="8" cols="50" maxlength="2000" required><%= books.notes %></textarea>
        </div>
        <br>
        
        <button type="submit" class="submit-btn">Update Changes</button>
    </form>

</div>

<%- include('partials/footer') %>